html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#luckysheet {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
}
#import {
    z-index: 999;
    position: absolute;
    right: 0px;
    top: 8px;
}
